@media (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 4.125rem;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 1.75rem;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.9);
      .character {
        // width: 100%;
        padding: 50px 50px 0;
        max-width: 1920px;
        margin: 0 auto;
        .mario {
          position: relative;
          .marioPng {
            position: absolute;
            top: -50px;
            left: 50px;
            width: 20%;
            img {
              width: 250px;
            }
          }
          .marioTxt {
            float: right;
            width: 60%;
            h3 {
              font-size: 3.75rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.25rem;
            }
          }
          .marioImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            li {
              padding-top: 200px;
              padding-bottom: 100px;
              width: 32%;
              height: 300px;
              text-align: center;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .peach {
          position: relative;
          .peachPng {
            position: absolute;
            top: -50px;
            right: 100px;
            width: 15%;
            img {
              width: 250px;
            }
          }
          .peachTxt {
            width: 60%;
            h3 {
              font-size: 3.75rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.25rem;
            }
          }
          .peachImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            li {
              padding-top: 200px;
              width: 32%;
              height: 300px;
              text-align: center;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .subCharacter {
          width: 100%;
          padding-top: 100px;
          dt {
            font-size: 2.5rem;
            padding-bottom: 20px;
          }
          dd {
            font-size: 1.125rem;
            display: block;
            padding-bottom: 50px;
          }
          .subCharacterList {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding-bottom: 30px;
              dl {
                width: 48%;
                word-break: keep-all;
              }
              div {
                width: 48%;
                height: 400px;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .others {
          width: 100%;
          padding: 100px 0;
          .othersCharacter {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
              width: 32%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  h2 {
    font-size: 3.75rem;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 1.5rem;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.9);
      .character {
        // width: 100%;
        padding: 50px 50px 0;
        max-width: 1920px;
        margin: 0 auto;
        .mario {
          position: relative;
          .marioPng {
            position: absolute;
            top: -50px;
            left: 50px;
            width: 20%;
            img {
              width: 200px;
            }
          }
          .marioTxt {
            float: right;
            width: 60%;
            h3 {
              font-size: 3.125rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.125rem;
            }
          }
          .marioImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            li {
              padding-top: 100px;
              padding-bottom: 100px;
              width: 32%;
              height: 300px;
              text-align: center;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .peach {
          position: relative;
          .peachPng {
            position: absolute;
            top: -50px;
            right: 100px;
            width: 15%;
            img {
              width: 200px;
            }
          }
          .peachTxt {
            width: 60%;
            h3 {
              font-size: 3.125rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.125rem;
            }
          }
          .peachImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            li {
              padding-top: 100px;
              width: 32%;
              height: 300px;
              text-align: center;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .subCharacter {
          width: 100%;
          padding-top: 100px;
          dt {
            font-size: 2.5rem;
            padding-bottom: 20px;
          }
          dd {
            font-size: 1.125rem;
            display: block;
            padding-bottom: 50px;
          }
          .subCharacterList {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding-bottom: 30px;
              dl {
                width: 48%;
                word-break: keep-all;
              }
              div {
                width: 48%;
                height: 400px;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .others {
          width: 100%;
          padding: 100px 0;
          .othersCharacter {
            width: 100%;
            display: flex;
            justify-content: space-between;
            li {
              width: 32%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-width: 899px) {
  h2 {
    font-size: 3.75rem;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 1.5rem;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.9);
      .character {
        // width: 100%;
        padding: 50px 50px 0;
        max-width: 1920px;
        margin: 0 auto;
        .mario {
          position: relative;
          .marioPng {
            position: absolute;
            top: -50px;
            left: 50px;
            width: 20%;
            display: none;
            img {
              width: 200px;
            }
          }
          .marioTxt {
            float: none;
            width: 100%;
            h3 {
              font-size: 3.125rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.125rem;
            }
          }
          .marioImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 50px;
            li {
              padding: 0;
              width: 49%;
              //   height: 300px;
              text-align: center;
              &:nth-child(1) {
                padding-top: 50px;
                padding-bottom: 15px;
                width: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .peach {
          position: relative;
          .peachPng {
            position: absolute;
            top: -50px;
            right: 100px;
            width: 15%;
            display: none;
            img {
              width: 200px;
            }
          }
          .peachTxt {
            width: 100%;
            h3 {
              font-size: 3.125rem;
              padding-bottom: 30px;
            }
            p {
              font-size: 1.125rem;
            }
          }
          .peachImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
              padding-top: 0px;
              width: 49%;
              text-align: center;
              &:nth-child(1) {
                padding-top: 50px;
                padding-bottom: 15px;
                width: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .subCharacter {
          width: 100%;
          padding-top: 100px;
          dt {
            font-size: 2.5rem;
            padding-bottom: 20px;
          }
          dd {
            font-size: 1.125rem;
            display: block;
            padding-bottom: 50px;
          }
          .subCharacterList {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding-bottom: 30px;
              dl {
                width: 48%;
                word-break: keep-all;
              }
              div {
                width: 48%;
                height: 400px;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .others {
          width: 100%;
          padding: 0 0 100px;
          .othersCharacter {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
              width: 49%;
              &:nth-child(1) {
                padding-top: 0px;
                padding-bottom: 15px;
                width: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 719px) {
  h2 {
    font-size: 13.3333vw;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        // top: 111.1111vw;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        // top: 152.7778vw;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 5.5556vw;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.9);
      .character {
        // width: 100%;
        padding: 8.3333vw 5.5556vw 0;
        margin: 0 auto;
        .mario {
          position: relative;
          .marioPng {
            position: absolute;
            top: -50px;
            left: 50px;
            width: 20%;
            display: none;
            img {
              width: 200px;
            }
          }
          .marioTxt {
            float: none;
            width: 100%;
            h3 {
              font-size: 11.1111vw;
              padding-bottom: 5.5556vw;
            }
            p {
              font-size: 3.8889vw;
            }
          }
          .marioImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 13.8889vw;
            li {
              padding: 0;
              width: 48%;
              height: 27.7778vw;
              text-align: center;
              &:nth-child(1) {
                padding-top: 8.3333vw;
                padding-bottom: 4.1667vw;
                width: 100%;
                height: 61.1111vw;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .peach {
          position: relative;
          .peachPng {
            position: absolute;
            top: -50px;
            right: 100px;
            width: 15%;
            display: none;
            img {
              width: 200px;
            }
          }
          .peachTxt {
            width: 100%;
            h3 {
              font-size: 11.1111vw;
              padding-bottom: 5.5556vw;
            }
            p {
              font-size: 3.8889vw;
            }
          }
          .peachImg {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            clear: both;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
              padding-top: 0px;
              width: 48%;
              text-align: center;
              height: 27.7778vw;
              &:nth-child(1) {
                padding-top: 8.3333vw;
                padding-bottom: 4.1667vw;
                width: 100%;
                height: 61.1111vw;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .subCharacter {
          width: 100%;
          padding-top: 13.8889vw;
          dt {
            font-size: 11.1111vw;
            padding-bottom: 5.5556vw;
          }
          dd {
            font-size: 3.8889vw;
            display: block;
            padding-bottom: 0px;
          }
          .subCharacterList {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding-bottom: 13.8889vw;
              dl {
                width: 51.3889vw;
                word-break: keep-all;
              }
              div {
                width: 37.5vw;
                height: 111.1111vw;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .others {
          width: 100%;
          padding: 0 0 13.8889vw;
          .othersCharacter {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
              width: 48%;
              height: 27.7778vw;
              &:nth-child(1) {
                padding-top: 0px;
                padding-bottom: 4.1667vw;
                width: 100%;
                height: 41.6667vw;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
