@media (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 4.125rem;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 2rem;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.5);
      .gallery {
        padding: 50px;
        max-width: 1920px;
        margin: 0 auto;
        // border: 1px solid #ccc;
        // background-color: #ccc;
        text-align: center;
        .grid {
          margin: 0 auto;
          .gutter-sizer {
            width: 4%;
          }
          .griditem {
            width: 300px;
            height: 300px;
            // border: 1px solid #222;
            // background-color: #222;
            margin-bottom: 40px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
            p {
              color: white;
            }
          }
          .gt2 {
            height: 200px;
          }
          .gt3 {
            height: 150px;
          }
          .gt4 {
            height: 200px;
          }
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  h2 {
    font-size: 3.75rem;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 2rem;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.5);
      .gallery {
        padding: 50px;
        max-width: 1920px;
        margin: 0 auto;
        // border: 1px solid #ccc;
        // background-color: #ccc;
        text-align: center;
        .grid {
          margin: 0 auto;
          .gutter-sizer {
            width: 4%;
          }
          .griditem {
            width: 300px;
            height: 300px;
            // border: 1px solid #222;
            // background-color: #222;
            margin-bottom: 40px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
            p {
              color: white;
            }
          }
          .gt2 {
            height: 200px;
          }
          .gt3 {
            height: 150px;
          }
          .gt4 {
            height: 200px;
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 719px) {
  h2 {
    font-size: 13.3333vw;
  }
  .content {
    width: 100%;
    .subMain {
      width: 100%;
      height: 100vh;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        position: fixed;
        object-fit: cover;
        z-index: -1;
      }
      .pageName {
        display: inline-block;
        position: absolute;
        left: 50%;
        // top: 111.1111vw;
        bottom: 40%;
        transform: translate(-50%, -50%);
      }
      .scrollBtn {
        position: absolute;
        left: 50%;
        // top: 152.7778vw;
        bottom: 20%;
        transform: translateX(-50%);
        button {
          border: 0;
          background-color: transparent;
          display: block;
          font-size: 5.5556vw;
          color: white;
          animation: scrollBig 1s infinite alternate;
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }
    .sectionWrap {
      background-color: rgba(0, 0, 0, 0.5);
      .gallery {
        padding: 8.3333vw 5.5556vw;
        margin: 0 auto;
        text-align: center;
        .grid {
          margin: 0 auto;
          .gutter-sizer {
            width: 4%;
          }
          .griditem {
            width: 150px;
            height: 150px;
            // border: 1px solid #222;
            // background-color: #222;
            margin-bottom: 11.1111vw;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 15px;
            }
            p {
              color: white;
              font-size: 12px;
              white-space: nowrap;
            }
          }
          .gt2 {
            height: 120px;
          }
          .gt3 {
            height: 180px;
          }
          .gt4 {
            height: 100px;
          }
        }
      }
    }
  }
}
