@media (min-width: 1120px) and (max-width: 1279px) {
  h2 {
    font-size: 4.125rem;
  }
  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.75rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .ost {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 0;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 50px;
              font-size: 3rem;
              &:before {
                content: "";
                position: absolute;
                top: 65px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .ostContainer {
              padding-bottom: 50px;
              .upperOstList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 400px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.75rem;
                      line-height: 1.5;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.125rem;
                      word-break: keep-all;
                    }
                  }
                }
              }
              .lowerOstList {
                padding-top: 100px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 500px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.875rem;
                      line-height: 1.5;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.25rem;
                      word-break: break-all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1119px) {
  h2 {
    font-size: 4.125rem;
  }
  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.75rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .ost {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 0;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 50px;
              font-size: 3rem;
              &:before {
                content: "";
                position: absolute;
                top: 65px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .ostContainer {
              padding-bottom: 50px;
              .upperOstList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 400px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.75rem;
                      line-height: 1.5;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.125rem;
                      word-break: keep-all;
                    }
                  }
                }
              }
              .lowerOstList {
                padding-top: 100px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 400px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.875rem;
                      line-height: 1.5;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.25rem;
                      word-break: break-all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 900px) and (max-width: 1023px) {
  h2 {
    font-size: 3.75rem;
  }
  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.75rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .ost {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 0;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 50px;
              font-size: 3rem;
              &:before {
                content: "";
                position: absolute;
                top: 65px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .ostContainer {
              padding-bottom: 50px;
              .upperOstList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 400px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.625rem;
                      line-height: 1.5;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.125rem;
                      word-break: keep-all;
                    }
                  }
                }
              }
              .lowerOstList {
                padding-top: 100px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 300px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.5rem;
                      line-height: 1.5;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.25rem;
                      word-break: break-all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-width: 899px) {
  h2 {
    font-size: 3.75rem;
  }
  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.75rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .ost {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 0;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 50px;
              font-size: 3rem;
              &:before {
                content: "";
                position: absolute;
                top: 65px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .ostContainer {
              padding-bottom: 50px;
              .upperOstList {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 400px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.75rem;
                      line-height: 1.5;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.125rem;
                      word-break: keep-all;
                    }
                  }
                }
              }
              .lowerOstList {
                padding-top: 100px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                  display: block;
                  width: 49%;
                  .ostVideo {
                    width: 100%;
                    height: 200px;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 30px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.875rem;
                      line-height: 1.5;
                    }
                    p {
                      width: 100%;
                      padding-top: 30px;
                      font-size: 1.25rem;
                      word-break: break-all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 719px) {
  h2 {
    font-size: 13.3333vw;
  }
  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            object-position: 62%;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            // top: 111.1111vw;
            bottom: 83.3333vw;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            // top: 152.7778vw;
            bottom: 27.7778vw;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 5.5556vw;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
              white-space: nowrap;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .ost {
            margin: 0 auto;
            padding: 8.3333vw 5.5556vw 0;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 8.3333vw;
              font-size: 11.1111vw;
              &:before {
                content: "";
                position: absolute;
                top: 12.5vw;
                left: 0;
                border: 2px solid red;
                width: 19.4444vw;
              }
            }
            .ostContainer {
              padding-bottom: 0px;
              .upperOstList {
                width: 100%;
                display: flex;
                flex-direction: column;
                li {
                  display: block;
                  width: 100%;
                  .ostVideo {
                    width: 100%;
                    height: 55.5556vw;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 13.8889vw;
                    .ostTitle {
                      width: 100%;
                      padding-top: 2.7778vw;
                      font-size: 5.5556vw;
                      line-height: 1.5;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                    p {
                      width: 100%;
                      padding-top: 2.7778vw;
                      font-size: 4.4444vw;
                      word-break: keep-all;
                    }
                  }
                }
              }
              .lowerOstList {
                padding-top: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                li {
                  display: block;
                  width: 100%;
                  .ostVideo {
                    width: 100%;
                    height: 55.5556vw;
                    iframe {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .ostTxtBox {
                    width: 100%;
                    padding-bottom: 50px;
                    .ostTitle {
                      width: 100%;
                      padding-top: 2.7778vw;
                      font-size: 5.5556vw;
                      line-height: 1.5;
                    }
                    p {
                      width: 100%;
                      padding-top: 2.7778vw;
                      font-size: 4.4444vw;
                      word-break: break-all;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
