@media (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 4.125rem;
  }

  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.75rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .trailer {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 50px;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 50px;
              font-size: 3rem;
              &:before {
                content: "";
                position: absolute;
                top: 65px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .swiperWrap {
              width: 100%;
              // height: 800px;
              //위 큰스와이퍼
              .mySwiper2 {
                height: 80%;
                width: 100%;
                .swiper-wrapper {
                  .swiper-slide {
                    // text-align: center;
                    // font-size: 18px;
                    // background: #fff;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // background-size: cover;
                    // background-position: center;
                    .videobox {
                      position: relative;
                      width: 100%;
                      padding-bottom: 56.25%;
                      iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                      }
                    }
                    // img {
                    //   display: block;
                    //   width: 100%;
                    //   height: 100%;
                    //   object-fit: cover;
                    // }
                  }
                }
              }
              //아래작은스와이퍼
              .mySwiper {
                height: 200px;
                box-sizing: border-box;
                padding: 15px 0;
                .swiper-wrapper {
                  display: flex;
                  justify-content: space-between;
                  .swiper-slide {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;

                    img {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .swiper-horizontal > .swiper-pagination-progressbar,
                .swiper-pagination-progressbar.swiper-pagination-horizontal,
                .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
                .swiper-vertical
                  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
                  bottom: 0;
                  top: auto;
                  .swiper-pagination-progressbar-fill {
                    background-color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  h2 {
    font-size: 3.75rem;
  }

  body {
    .wrap {
      .content {
        width: 100%;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 40%;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 1.5rem;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .trailer {
            max-width: 1920px;
            margin: 0 auto;
            padding: 50px 50px 50px;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 40px;
              font-size: 2.5rem;
              &:before {
                content: "";
                position: absolute;
                top: 50px;
                left: 0;
                border: 2px solid red;
                width: 70px;
              }
            }
            .swiperWrap {
              width: 100%;
              // height: 800px;
              //위 큰스와이퍼
              .mySwiper2 {
                height: 80%;
                width: 100%;
                .swiper-wrapper {
                  .swiper-slide {
                    // text-align: center;
                    // font-size: 18px;
                    // background: #fff;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // background-size: cover;
                    // background-position: center;
                    .videobox {
                      position: relative;
                      width: 100%;
                      padding-bottom: 56.25%;
                      iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                      }
                    }
                    // img {
                    //   display: block;
                    //   width: 100%;
                    //   height: 100%;
                    //   object-fit: cover;
                    // }
                  }
                }
              }
              //아래작은스와이퍼
              .mySwiper {
                height: 200px;
                box-sizing: border-box;
                padding: 15px 0;
                .swiper-wrapper {
                  display: flex;
                  justify-content: space-between;
                  .swiper-slide {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;

                    img {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .swiper-horizontal > .swiper-pagination-progressbar,
                .swiper-pagination-progressbar.swiper-pagination-horizontal,
                .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
                .swiper-vertical
                  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
                  bottom: 0;
                  top: auto;
                  .swiper-pagination-progressbar-fill {
                    background-color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 719px) {
  h2 {
    font-size: 13.3333vw;
  }

  body {
    .wrap {
      .content {
        width: 100%;
        position: relative;
        .subMain {
          width: 100%;
          height: 100vh;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            position: fixed;
            object-fit: cover;
            object-position: 43%;
            z-index: -1;
          }
          .pageName {
            display: inline-block;
            position: absolute;
            left: 50%;
            // top: 111.1111vw;
            bottom: 83.3333vw;
            transform: translate(-50%, -50%);
          }
          .scrollBtn {
            position: absolute;
            left: 50%;
            // top: 152.7778vw;
            bottom: 27.7778vw;
            transform: translateX(-50%);
            button {
              border: 0;
              background-color: transparent;
              display: block;
              font-size: 5.5556vw;
              color: white;
              animation: scrollBig 1s infinite alternate;
              cursor: pointer;
              white-space: nowrap;
            }
          }
        }
        .sectionWrap {
          background-color: rgba(0, 0, 0, 0.5);
          .trailer {
            margin: 0 auto;
            padding: 8.3333vw 5.5556vw;
            color: white;
            h3 {
              position: relative;
              padding-bottom: 8.3333vw;
              font-size: 11.1111vw;
              &:before {
                content: "";
                position: absolute;
                top: 12.5vw;
                left: 0;
                border: 2px solid red;
                width: 19.4444vw;
              }
            }
            .swiperWrap {
              width: 100%;
              //위 큰스와이퍼
              .mySwiper2 {
                .closeVideo {
                  display: block;
                  position: absolute;
                  top: 50px;
                  right: 50px;
                  border: 0;
                  background-color: transparent;
                  width: 24px;
                  height: 24px;
                  cursor: pointer;
                  span {
                    border: 1px solid white;
                    width: 33.9411px;
                    display: block;
                    position: absolute;
                    &:nth-child(1) {
                      transform: translateY(-50%) rotate(45deg);
                      top: 50%;
                    }
                    &:nth-child(2) {
                      transform: translateY(50%) rotate(135deg);
                      bottom: 50%;
                      // margin-top: 5px;
                    }
                  }
                }
                position: fixed;
                top: 0;
                left: 0;
                height: 0px;
                width: 100%;
                background-color: rgba(40, 47, 61, 0.9);
                z-index: 300;
                .swiper-wrapper {
                  position: absolute;
                  width: 100%;
                  height: auto;
                  top: 50%;
                  transform: translateY(-50%);

                  .swiper-slide {
                    .videobox {
                      position: relative;
                      width: 100%;
                      padding-bottom: 56.25%;
                      iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 999;
                      }
                    }
                  }
                }
              }
              //아래작은스와이퍼
              .mySwiper {
                height: 33.3333vw;
                box-sizing: border-box;
                padding: 4.1667vw 0;
                .swiper-wrapper {
                  display: flex;
                  justify-content: space-between;
                  .swiper-slide {
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;

                    img {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .swiper-horizontal > .swiper-pagination-progressbar,
                .swiper-pagination-progressbar.swiper-pagination-horizontal,
                .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
                .swiper-vertical
                  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
                  bottom: 0;
                  top: auto;
                  .swiper-pagination-progressbar-fill {
                    background-color: red;
                  }
                }
              }
              .videoOn {
                height: 100vh;
              }
            }
          }
        }
      }
    }
  }
}
