@import "./common.css";
h2 {
  font-family: bit;
  font-size: 5rem;
  color: white;
}

h3,
h4 {
  font-family: PretenBold;
  font-weight: 700;
}

@keyframes scrollBig {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.7;
    transform: scale(1.2);
  }
}
body .wrap .content {
  width: 100%;
}
body .wrap .content .subMain {
  width: 100%;
  height: 100vh;
  position: relative;
}
body .wrap .content .subMain img {
  width: 100%;
  height: 100%;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
body .wrap .content .subMain .pageName {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
}
body .wrap .content .subMain .scrollBtn {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}
body .wrap .content .subMain .scrollBtn button {
  border: 0;
  background-color: transparent;
  display: block;
  font-size: 2rem;
  color: white;
  animation: scrollBig 1s infinite alternate;
  cursor: pointer;
}
body .wrap .content .sectionWrap {
  background-color: rgba(0, 0, 0, 0.5);
}
body .wrap .content .sectionWrap .trailer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 50px 50px;
  color: white;
}
body .wrap .content .sectionWrap .trailer h3 {
  position: relative;
  padding-bottom: 50px;
  font-size: 3.25rem;
}
body .wrap .content .sectionWrap .trailer h3:before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  border: 2px solid red;
  width: 80px;
}
body .wrap .content .sectionWrap .trailer .swiperWrap {
  width: 100%;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 {
  height: 80%;
  width: 100%;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .closeVideo {
  display: none;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper {
  height: 200px;
  box-sizing: border-box;
  padding: 15px 0;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  bottom: 0;
  top: auto;
}
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal .swiper-pagination-progressbar-fill,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill,
body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill {
  background-color: red;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 4.125rem;
  }
  body .wrap .content {
    width: 100%;
  }
  body .wrap .content .subMain {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  body .wrap .content .subMain img {
    width: 100%;
    height: 100%;
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
  body .wrap .content .subMain .pageName {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
  }
  body .wrap .content .subMain .scrollBtn {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }
  body .wrap .content .subMain .scrollBtn button {
    border: 0;
    background-color: transparent;
    display: block;
    font-size: 1.75rem;
    color: white;
    animation: scrollBig 1s infinite alternate;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap {
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .wrap .content .sectionWrap .trailer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 50px 50px;
    color: white;
  }
  body .wrap .content .sectionWrap .trailer h3 {
    position: relative;
    padding-bottom: 50px;
    font-size: 3rem;
  }
  body .wrap .content .sectionWrap .trailer h3:before {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    border: 2px solid red;
    width: 70px;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap {
    width: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper {
    height: 200px;
    box-sizing: border-box;
    padding: 15px 0;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 0;
    top: auto;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill {
    background-color: red;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  h2 {
    font-size: 3.75rem;
  }
  body .wrap .content {
    width: 100%;
  }
  body .wrap .content .subMain {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  body .wrap .content .subMain img {
    width: 100%;
    height: 100%;
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
  body .wrap .content .subMain .pageName {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
  }
  body .wrap .content .subMain .scrollBtn {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
  }
  body .wrap .content .subMain .scrollBtn button {
    border: 0;
    background-color: transparent;
    display: block;
    font-size: 1.5rem;
    color: white;
    animation: scrollBig 1s infinite alternate;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap {
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .wrap .content .sectionWrap .trailer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 50px 50px;
    color: white;
  }
  body .wrap .content .sectionWrap .trailer h3 {
    position: relative;
    padding-bottom: 40px;
    font-size: 2.5rem;
  }
  body .wrap .content .sectionWrap .trailer h3:before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    border: 2px solid red;
    width: 70px;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap {
    width: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper {
    height: 200px;
    box-sizing: border-box;
    padding: 15px 0;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 0;
    top: auto;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill {
    background-color: red;
  }
}
@media (max-width: 719px) {
  h2 {
    font-size: 13.3333vw;
  }
  body .wrap .content {
    width: 100%;
    position: relative;
  }
  body .wrap .content .subMain {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  body .wrap .content .subMain img {
    width: 100%;
    height: 100%;
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 43%;
       object-position: 43%;
    z-index: -1;
  }
  body .wrap .content .subMain .pageName {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
  }
  body .wrap .content .subMain .scrollBtn {
    position: absolute;
    left: 50%;
    bottom: 50vw;
    transform: translateX(-50%);
  }
  body .wrap .content .subMain .scrollBtn button {
    border: 0;
    background-color: transparent;
    display: block;
    font-size: 5.5556vw;
    color: white;
    animation: scrollBig 1s infinite alternate;
    cursor: pointer;
    white-space: nowrap;
  }
  body .wrap .content .sectionWrap {
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .wrap .content .sectionWrap .trailer {
    margin: 0 auto;
    padding: 8.3333vw 5.5556vw;
    color: white;
  }
  body .wrap .content .sectionWrap .trailer h3 {
    position: relative;
    padding-bottom: 8.3333vw;
    font-size: 11.1111vw;
  }
  body .wrap .content .sectionWrap .trailer h3:before {
    content: "";
    position: absolute;
    top: 12.5vw;
    left: 0;
    border: 2px solid red;
    width: 19.4444vw;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap {
    width: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(40, 47, 61, 0.9);
    z-index: 300;
    display: none;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .closeVideo {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    border: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .closeVideo span {
    border: 1px solid white;
    width: 33.9411px;
    display: block;
    position: absolute;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .closeVideo span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .closeVideo span:nth-child(2) {
    transform: translateY(50%) rotate(135deg);
    bottom: 50%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper2 .swiper-wrapper .swiper-slide .videobox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper {
    height: 33.3333vw;
    box-sizing: border-box;
    padding: 4.1667vw 0;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 0;
    top: auto;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-horizontal > .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-horizontal .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill,
  body .wrap .content .sectionWrap .trailer .swiperWrap .mySwiper .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite .swiper-pagination-progressbar-fill {
    background-color: red;
  }
  body .wrap .content .sectionWrap .trailer .swiperWrap .videoOn {
    display: block;
  }
}/*# sourceMappingURL=trailer.css.map */